body {
    font-family: 'Fjalla One', sans-serif;
    color: hsl(0, 0%, 2%);
    background-image: url(../images/GrizzHockeyBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    margin-bottom: 64px;
    text-align: center;
}

header>p {
    margin-top: 0;
}

h1 {
    margin: 0;
    font-size: 64px;
    margin-left: -5px;
}

h2 {
    text-align: center;
}

.caption {
    text-align: center;
    display: block;
    font-size: 18px;
  }
  
  p {
    text-align: center;
    margin-bottom: 36px;
    font-size: 20px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
  }
  
  .animated {
      height: 350px;
      display: block;
      width: 500px;
      margin-left: auto;
      margin-right: auto;
  }
  .botimg{
    display: block;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  main {
      align-items: center;
  }
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:royalblue;
    font-family: 'Fjalla One', sans-serif;
}

.logo{
    color:hsl(0, 0%, 2%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style-type: none;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5;
    justify-content: space-around;
    
}
.nav-links a{
    color:hsl(0, 0%, 2%);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:hsl(0, 0%, 2%);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;

    }
    .nav-links{
        position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         background-color:royalblue;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
    }
    
    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        
    }

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        trnasform: translateX(50px);
    }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
}    
